<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Permanece en contacto</h2>
                <hr class="primary">
                <p>Si quieres compartir tu idea o tu proyecto con nosotrxs, comienza la conversación por twitter con el hashtag #iodc16, tuitéanos a @opendatacon o apúntate y recibe todas las actualizaciones en <a href="http://opendatacon.org">opendatacon.org</a>.</p>
		
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>
	<div class="col-lg-8 col-lg-offset-2 text-center"><p>Todas las imágenes son Creative Commons. La imagen de cabecera es de <a href="https://flic.kr/p/nyHwgE">mary@flickr</a></p></div>

    </div>
</section>
