<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Día de los datos abiertos en España</h1>
            <hr>
            <p>El 5 de marzo disfruta del #opendataday Barcelona, Bilbao, Girona, Granada, Madrid, Pamplona, Valencia o Zaragoza.</p>
	    <p style="background-color: transparent !important"><a href="#about" class="btn btn-primary btn-xl page-scroll">No te lo pierdas</a></p>
<p>	    <a href="http://opendatacon.org/iodc16/call-for-proposals/"><img src="img/twitter-lead-gen-card-800x200.jpg" width="800" height="200" alt="Call for Proposals IODC16, March 1st / April 3rd" /></a></p>
	    <p style="background-color: transparent !important"><a href="http://opendatacon.org/iodc16/call-for-proposals/" class="btn btn-primary btn-xl page-scroll">practica para IODC16</a></p>

        </div>
    </div>
</header>
