<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Datos abiertos</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Limpieza de datos</h3>
                    <p class="text-muted">Cuando nuestro proyecto no encuentra datos abiertos ricos, hay que limpiarlos.
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Análisis de datos</h3>
                    <p class="text-muted">Puedes basarte en cualquier conjunto de datos publicado y analizarlo con tus herramientas favoritas.
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Publicación</h3>
                    <p class="text-muted">Muchxs periodistas de datos querrán publicar historias interesantes.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Y con mucho amor</h3>
                    <p class="text-muted">Porque hagas lo que hagas compartimos el amor por los datos abiertos.</p>
                </div>
            </div>
        </div>
    </div>
</section>
